@use "../../scss/abstracts/index" as *;

.textArea__container {
  @include flex();
  flex-direction: column;
  // marginTop: 50,
  margin-top: 50px;

  // display: "flex",
  // flexDirection: "column",
  // alignItems: "center",
}

.textarea__defaultstyle {
  padding: 5px;
  width: 350px;
  display: block;
  resize: none;
  // backgroundColor: "#eee",
  background-color: #eee;
}

.textarea__btn {
  //   position: absolute;
  // top:50%;
  background-color: #808080;
  color: #fff;
  border: none;
  //   border-radius: 10px;
  padding: 10px;
  //   min-height: 5px;
  min-width: 100%;

  &:hover {
    background-color: #fff;
    transition: 0.7s;
    color: #808080;
  }
  &:focus {
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 4px #535253;
  }
}
